html{
    height: 100%;
    box-sizing: border-box;
}


#body {
    text-align: center;
    line-height: 1;
    margin: 0;
    font-family: sans-serif ;
    background-color: ghostwhite;
}



.jumbo-landing{
    padding: 73px 0 120px;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .004em;
    background-color: #f0f0f2;
    display: block;
}

#mac-main{
    width: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#mac-landing{
    width: 980px;
    margin: 0 auto;
    text-align: center;
    display: block;
}

#jumbo-mac{
    padding: 0 25px 19px;
    color: #1d1d1f;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -.015em;
}

#mini-mac{
    color: #1d1d1f;
    font-size: 24px;
    line-height: 1.33341;
    font-weight: 400;
    letter-spacing: .009em; 
}


#body video{
    display: inline-block;
    vertical-align: baseline;
    margin-top: 62px;
    width: 1109px;
    height: 553px;
    float: none;
    align-content: center;
}

.mac-pod{
    position: relative;
    background-color: #fff;
    padding: 113px 0 116px;
}

.mac-pod-landing{
    width: 1060px;
    margin: 0 auto;
}

.mac-pod-row{
    width: 363px;
    margin: -48px 95px 0 0;
    background-color: #fff;
    text-align: left;
/*    display: inline-block;*/
   
    
}

.mac-pod-width{
    width: auto;
    display: inline-block;
    display: inline-block;
    position: relative;
    height: auto;
    overflow: hidden;
}

.mac-pod-card{
    padding: 52px 0 55px;
}

#mac-pod-mini{
    padding-left: 2px;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .004em;
    color: #1d1d1f;
    
}

#mac-pod-jumbo{
    margin-top: 8px;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -.015em;
    color: #1d1d1f;
    
}


.mac-pod-head{
    padding: 52px 0 55px;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: .004em;
    color: black;
}

.mac-image{
    height: 265px;
    display: block;
    margin-left: 8px;
    margin-bottom: 20px;
    border: 0;
    width: 415px;
}

.mac-pod-media{
    width: 446px;
    min-height: 585px;
    background-color: #f0f0f2;
    text-align: center;
    border-radius: 25px;
    margin: 0 12px;
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
}

.mac-pod-info{
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: .011em;
    color: black;
    margin: 30px;
}


.stream-event-width{
    width: 100%;
    overflow: hidden;
}

.stream-event{
    padding: 0 0 74px;
}

.stream-event-table{
    width: 1049px;
    margin: 7px auto;   
}

.stream-event-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.stream-content{
    flex-basis: 50%;
    max-width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.stream-wrapper{
    margin: 0 11px 0 0;
    min-height: 700px;
    background-color: #fff;
    border-radius: 22px;
    text-align: center;
  }

.stream-board-info{
    padding: 50px 25px 0;
}

.stream-head{
    margin-top: 10px;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    color: #1d1d1f;
    margin-left: 5%;
    margin-right: 5%;
}

.stream-body{
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    padding: 8px 0 2px;
}

.stream-link{
    margin-top: .8em;
    padding: 0;
    display: block;
    padding: 10px 0 2px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    text-decoration: none;
    color: #0070c9;
    cursor: pointer;
}

.stream-media{
    margin-top: 47px;
    border: 0;
    width: 413px;
    height: 238px;
    margin-bottom: 47px;
}

.stream-music{
    margin: 0 0 0 10px;
    min-height: 700px;
    background-color: #fff;
    border-radius: 22px;
    text-align: center;
 }


.accessory-width{
    overflow: hidden;
    background-color: transparent;
    margin: 37px auto 92px;
    max-width: 1070px;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.accessory-container{
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    text-align: center;
}
.access-head{
    padding: 0 0 20px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
    color: #111;
}

.accessory-table{
    margin: 0 -3px;
    width: auto;
    position: relative;
    z-index: 1;
    height: inherit;
}


.access-content-card{
    display: inline-block;
    height: inherit;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    white-space: normal;
    visibility: visible;
    width: 33.33333%;
    cursor: pointer;
}

.content-body{
    border: 5px solid #f0f0f2;
    background-color: #fff;
    padding: 34px 40px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    line-height: 17px;
}

.content-image{
    min-height: 305px;
    text-align: center;
    padding: 0;
    line-height: 0;
}

.content-media1{
    width: 266px;
    height: 291px;
    margin-bottom: 14px;
    border: 0;
}


.accessory-content{
    min-height: 137px;
}

.content-head{
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    margin: 0;
    line-height: 0;
    color: #111;
    padding: 0;
}

h3.content-head a{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.021em;
    text-decoration: none;
    color: #111;
}

.content-info{
    margin: 7px 0 0;
}

.content-price{
    display: inline;
    text-align: center;
}

.content-pricing{
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    margin: 0;
}

.accessory-footer{
    padding-top: 37px;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    padding: 7px 20px 0;
    text-align: center;
    margin-top: 30px;
}

.footer-link{
    color: #0070c9;
    text-decoration: none;
}

.sidebar{
    width: 100%;
    overflow: hidden;
    display: block;
}

.sidebar-table{
    width: 1057px;
    margin: auto;
}

.sidebar-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.sidebar-prop{
    text-align: center;
    flex-basis: 33.33333%;
    max-width: 33.33333%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0
}

.sidebar-prop1{
    padding: 0 12px;
}

.sidebar-prop-content{
    padding: 31px 0 94px;
}

.sidebar-prop-image{
    height: 80px;
}

.sidebar-compare{
    margin-left: 1px;
    margin-top: 10px;
    width: 111px;
    height: 64px;
    border: 0;
}

.sidebar-prop-info{
    display: block;
}

.sidebar-copy{
    padding: 15px 0 0;
    color: #1d1d1f;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
}

.sidebar-util{
        margin-left: -10%;
        margin-right: -10%;
}

.sidebar-link{
    margin-top: 12px;
    color: #1d1d1f;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
}

.sidebar-prop-link{
    text-decoration: none;
    color: #0070c9;
}

.dicsover-width{
    width: 100%;
    overflow: hidden;
}

.discover-accessory{
    padding: 20px 0 90px;
    background-color: #fff;
    display: block;
}

.discover-table{
    width: 984px;
    margin: 0 auto;
}

.discover-header{
    padding: 67px 0 52px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.discover-info{
    color: #1d1d1f;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.discover-images{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.discover-media{
    flex: auto;
    max-width: initial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.discover-wrapper{
    padding: 0 10px;
    text-align: center;
}

.discover-content{
    display: block;
    cursor: pointer;
}

.discover-image{
    height: 162px;
    display: block;
}

.discover-image1{
    width: 144px;
    height: 145px;
}

.discover-link{
    text-decoration: none;
    color: #1d1d1f;
    margin: 0;
    padding: 0;
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
}

.higher-edu{
    width: 100%;
    overflow: hidden;
    display: block;
}

.higher-edu-table{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

.higher-edu-bill{
    padding: 84px 0 34px;
    text-align: center;
}

.higher-edu-head{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: .009em;
    color: #1d1d1f;
}

.higher-edu-subhead{
    color: #1d1d1f;
    margin: 6px 0 13px;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.higher-edu-subcopy{
    color: #1d1d1f;
    margin: 0 0 9px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
}

.higher-edu-link{
    color: #0070c9;
    margin: 0 0 9px;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    text-decoration: none;
}

.shopping-width{
    width: 100%;
    overflow: hidden;
    display: block;
}

.shopping{
    width: 1049px;
    margin: 0 auto -8px;
}

.shopping-header{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.shopping-header-info{
    text-align: center;
    padding: 44px 0 27px;
    color: #1d1d1f;
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0;
}

.shopping-content{
    flex-direction: column;
    height: 1012px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.shopping-card0{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.shopping-wrapper-trade{
    background-color: #fff;
    width: 519px;
    min-height: 325px;
    margin: 5px 10px 5px 0;
    text-align: center;
}

.shopping-wrapper-image{
    display: block;
    
}
.shopping-image{
    padding: 56px 0 24px;
    width: 84px;
    height: 71px;
    text-align: center;
}

.shopping-wrapper-info{
    padding: 0 20px;
}

.shopping-wrapper-trade-head{
    color: #1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
}

.head-util{
    margin-left: 20%;
    margin-right: 20%;
}

.shopping-wrapper-trade-link{
    margin-top: 18px;
    text-decoration: none;
    color: #0070c9;
}

.shopping-wrapper-daily{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
}

.shopping-billboard-dailycash{
    min-height: 660px;
    background-color: #fff;
    width: 519px;
    margin: 5px 10px 5px 0;
    text-align: center;
}

.shopping-billboard-info{
    padding: 0 20px;
}

.shopping-header{
    color: #1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
}

.shopping-percent{
    width: 203px;
    height: 107px;
    padding: 80px 0 0;
}

.shopping-subhead{
    padding: 4px 0 0;
    color: #1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
}

.shopping-subhead-link{
    margin-top: 18px;
}

.shopping-sub-link{
    color: #0070c9;
    text-decoration: none;
}

.shopping-billboard-image{
    display: block;  
}

.billboard-shop-image{
    width: 336px;
    height: 203px;
    padding-top: 58px;
}

.shopping-wrapper-engraving{
    position: relative;
    background-color: #fff;
    width: 519px;
    min-height: 325px;
    margin: 5px 10px 5px 0;
    text-align: center;
}

.engraving-header{
    color: #1d1d1f;
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    padding-top: 45px;
}

.engraving-image{
    display: block;
}

.engraving-media{
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -223px;
    padding: 0;
    width: 443px;
    height: 193px;
}
